
<% let Utils = require("../../src/utils.js") %>
<% let link = Utils.niemObjectLink(property); %>

<%# Details summary line %>
<strong><a href="<%= link %>"><%= property.qname %></a></strong>
<small><span> (type <%= property.typeQName %> )</span></small>

<%# Definition %>
<p class="copy"><%= property.definition %></p>

<%# Details body %>
<details>
  <summary>
    <strong>Available properties</strong>
    <span class="badge badge-info" pill><%= substitutions.length %> substitutions</span>
  </summary>
  <p>DETAILS</p>
</details>
