
<% let substitutions = await property.substitutions(); %>

<% let Utils = require("../../src/utils.js") %>
<% let link = Utils.niemObjectLink(property); %>

<%# Details summary line %>
<strong>
  <a href="<%= link %>"><%= property.qname %></a>
</strong>
<small>
  <span> (abstract) </span>
  <span class="badge badge-secondary" pill><%= substitutions.length %> substitutions</span>
</small>

<%# Definition %>
<p class="copy"><%= property.definition %></p>

<%# Details body %>
<details>
  <summary>
    <strong>Substitutions</strong>
    <span class="badge badge-info" pill><%= substitutions.length %> substitutions</span>
  </summary>

  <% for (let substitutions of substitutions) { %>
    <%- await include("rowProperty", {property: substitution}); %>
  <% } %>
</details>
